﻿@model ShopSimulator.Web.Models.ViewModels.ShopInputViewModel

@section Title{Add shop}
<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.OwnerId)

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="shop-settings">

                    <div class="settings-item">
                        <h1 class="settings-title">Enter name :</h1>
                        <input class="form-control text-box single-line setting-value red-input" data-val="true" data-val-required="Требуется поле Name." id="Name" name="Name" type="text" value="">
                    </div>

                    <div class="settings-item">
                        <h1 class="settings-title">Choose size :</h1>
                        <div class="setting-value size-radio-selector">
                            @foreach (var size in Model.Sizes)
                            {
                                <div>
                                    <input id="@size.Id" name="SizeId" type="radio" class="with-font" data-price='@size.Price' data-time='@size.Time' value="@size.Id" />
                                    <label for="@size.Id">@size.Name <span class="not-important">(<i>Price: @size.Price $, Time: @size.Time - days, Goods per week: @size.Goods </i>)</span></label> <br>
                                    
                                </div>
                            }
                        </div>
                    </div>

                    <div class="settings-item erp-msg">
                        <h1 class="settings-title">Choose ERP :</h1>
                       <div class="setting-value erp-radio-selector">
                           @foreach (var erp in Model.ErpList)
                           {
                               <div class="">
                                   <input id="@erp.Id" name="ErpListSelected" type="radio" class="with-font" data-price='@erp.Price' data-time='@erp.Time' value="@erp.Id" />
                                   <label for="@erp.Id">@erp.Name </label> <span class="not-important">(<i class="time">Time: @(erp.Time) - days </i>)</span><br>
                                   
                               </div>
                           }
                       </div>
                    </div>

                    <div class="settings-item">
                        <h1 class="settings-title">Choose addons :</h1>
                        <div class="setting-value">
                            @foreach (var addon in Model.Addons)
                            {
                                <div>
                                    <input id="@addon.Id" class="with-font" type="checkbox" name="AddonsSelected" data-price='@addon.Price' data-time='@addon.Time' value="@addon.Id" />
                                    <label for="@addon.Id">@addon.Name</label> <br>
                                    <span class="bottom-not-important">(<i>Price: @addon.Price $, Time: @addon.Time - days, Mark-up: @addon.MarkUp, Goods coefficient: @addon.GoodsCoefficient </i>)</span>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="settings-item">
                        <h1 class="settings-title">Choose extensions :</h1>
                        <div class="setting-value">
                            @foreach (var add in Model.Extensions)
                            {
                                <div>
                                    <input id="@add.Id" class="with-font" type="checkbox" name="ExtensionsSelected" data-price='@add.Price' data-time='@add.Time' value="@add.Id" />
                                    <label for="@add.Id">@add.Name</label> <br>
                                    <span class="bottom-not-important">(<i>Price: @add.Price $, Time: @add.Time - days, Mark-up: @add.MarkUp, Goods coefficient: @add.GoodsCoefficient </i>)</span>
                                </div>
                            }
                        </div>
                    </div>

                    <div style="display:none" name="FeaturesSelected"></div>
                </div>

                <div class="form-group">
                    <div class="summary-info">
                        <p class="attr total-price">Total price : <span class="value total-price">0</span></p>
                        <p class="attr">Total time : <span class="value total-time">0</span></p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-lg btn-default sana-btn" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<div>
    @*@Html.ActionLink("Back to List", "Index")*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery-ui-1.11.4.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")

    <script>        

        $(function () {
            $(".size-radio-selector").children().eq(1).find("input").click();

            $("form").submit(function (e) {
                var name = $("#Name");
                var erp = $(".erp-radio-selector input[type='radio']:checked");

                var regex = /([A-z\d\^\&\-\№\#\:]{1,})/ig;
                if (!regex.test(name.val()) || erp.length == 0){
                    e.preventDefault();
                    $("body").scrollTop(0);
                    if (!name.val()) {
                        showTooltip(name, 'Incorrect shop name.')
                    };
                   
                    if (erp.length == 0) {
                        var erpBlock = $(".erp-msg");
                        showTooltip(erpBlock, 'Choose ERP');
                        erpBlock.addClass("invalid-input");
                    };
                }
                else {

                    this.submit();
                }
            });
            
            function compute() {

                var selectedSize = $("input[type='radio']:checked");

                var totalTime = $(selectedSize).data("time") || 0,
                    totalPrice = $(selectedSize).data("price") || 0,
                    featurePrice = 0;

                $("input[type='checkbox']:checked, input[name='ErpListSelected']:checked").each(function () {
                    totalPrice += ($(this).data("price") || 0);
                    totalTime += $(this).data("time") ;
                });

                totalPrice += featurePrice;

                $("span.total-price").html("$" + totalPrice);
                $("span.total-time").html(totalTime + " days");
            };

            var showTooltip = function (elem, text) {
                elem.tooltip({
                    placement: 'right',
                    title: text
                }).tooltip('show');
                elem.on("focus click", function () {
                    elem.tooltip("destroy");
                    elem.removeClass("invalid-input");
                });
            }

            $("input[type='checkbox']").change(compute);
            $("input[type='radio']").change(compute);

            compute();
        });
    </script>

}
    