﻿@model List<ShopSimulator.Web.Models.ViewModels.ShopViewModel>
<style>
    #container {
        margin: 20px;
        width: 200px;
        height: 200px;
        position: relative;
    }

    .clearfix:before, .clearfix:after {
        content: " ";
        display: table;
    }

    .clearfix:after {
        clear: both;
    }

    .clearfix {
        *zoom: 1;
    }
</style>
<link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
<link href="~/Content/Progres-circle/css/circle.css" rel="stylesheet" />
<div class="list-shops">
    @if (Model.Count > 0)
    {
        <ul>
            @foreach (var shop in Model)
            {
                <li class="shop-item" id="@shop.Id">
                    @if (shop.DaysPasedPercent < 100)
                    {
                        <div class="building-container">
                            <span>In progress</span>
                            <div class="@shop.ClassForProgressCircle">
                                <span>@shop.DaysPasedPercent%</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>

                        </div>


                    }
                    @if (shop.Size.Name == "Small")
                    {
                        <img src="~/Content/img/small-shop.png">
                    }
                    else if (shop.Size.Name == "Standart")
                    {
                        <img src="~/Content/img/standart-shop.png">
                    }
                    else
                    {
                        <img src="~/Content/img/large-shop.png">
                    }

                    <h3>@shop.Name</h3>
                    @*<div class="previous-week">
                            <table>
                                <tr class="last-income">
                                    <td>Last income:</td>
                                    <td>
                                        <span>
                                            $ @shop.LastIncome
                                        </span>
                                    </td>
                                </tr>

                                <tr class="last-income">
                                    <td>Last cost:</td>
                                    <td>
                                        <span>
                                            $ @shop.LastCost
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>*@

                    <div class="total-box-shopinfo">
                        <table>
                            <tr>
                                <td></td>
                                <td><span class="finance-label">Previous week</span></td>
                                <td><span class="finance-label">Total</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="finance-label">Income</span>
                                </td>
                                <td class="fin">@shop.LastIncome</td>
                                <td class="fin">@shop.Income</td>

                            </tr>

                            <tr>
                                <td>
                                    <span class="finance-label"> Cost </span>
                                </td>
                                <td class="fin">@shop.LastCost</td>
                                <td class="fin">@shop.Cost</td>

                            </tr>
                        </table>
                    </div>

                </li>

            }
            </ul>

    }
    else
    {
        <h3>Hey man, you don't have any shops.</h3>
        <div>
            <a id="add-shop-suggestion" href="@Url.RouteUrl("AddShop")" class="btn btn-lg btn-default sana-btn">Lets add a shop</a>
        </div>
    }
    </div>
    <script>
        $(function () {
            $("#add-shop-suggestion ").click(function (event) {
                event.preventDefault();

                var addShopUrl = $(event.currentTarget).attr('href');

                window.location.href = addShopUrl + '?ownerId=' + localStorage.getItem('userId');
            });

            $('.shop-item').click(function (event) {
                var shop = $(event.currentTarget);
                if (shop.hasClass('with-info')) {
                    shop.removeClass('with-info').next(".shop-info").hide('slow', function () {
                        this.remove();
                    });
                }
                else {
                    $.ajax({
                        method: 'POST',
                        url: '@Url.RouteUrl("ShopInfo")',
                        data: { id: shop.attr('id') },
                        dataType: 'html',
                        async: false,
                        success: function (data) {
                            shop.addClass('with-info').after(data).next(".shop-info").show('slow');
                            updateProgressLines();
                        }
                    });
                }
            });
        });

        function updateProgressLines() {
            $('.shop-info .myProgress .myBar').each(function (index) {
                var percent = (1 - $(this).data('timeleft') / $(this).data('totaltime')) * 100;
                percent = Math.round(percent);

                if (!percent)
                    $(this).parent('.myProgress').css('color', '#c10c06').text(0 + '%');
                else
                    $(this).css("width", percent + '%').html(percent + '%');
            });
        }

        var container = document.getElementsByClassName('circle-progressbar');
        for (var i = 0; i < container.length; i++) {
            var bar = new ProgressBar.Circle(container[i], {
                color: '#aaa',
                // This has to be the same size as the maximum width to
                // prevent clipping
                strokeWidth: 4,
                trailWidth: 1,
                easing: 'easeInOut',
                duration: 1400,
                text: {
                    autoStyleContainer: false
                },
                from: { color: '#6F0C0C', width: 1 },
                to: { color: '#3A983A', width: 4 },
                // Set default step function for all animate calls
                step: function (state, circle) {
                    circle.path.setAttribute('stroke', state.color);
                    circle.path.setAttribute('stroke-width', state.width);

                    var value = Math.round(circle.value() * 100);
                    if (value == 100) {
                        circle.setText('Ready');
                    } else {
                        circle.setText(value + '%');
                    }

                }
            });
            bar.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
            bar.text.style.fontSize = '1.5rem';

            bar.animate(1.0);  // Number from 0.0 to 1.0
        };


    </script>