﻿@section Title{Home}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div id="chart_div"></div>

<div id="next-week-btn">
    Skip week
</div>

<div class="list-shops-js"></div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    google.charts.load('current', { packages: ['corechart'] });
    google.charts.setOnLoadCallback(drawCurveTypes);


    function drawCurveTypes() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Week');
        data.addColumn('number', 'Online');
        data.addColumn('number', 'Offline');

        updateDataTable(data);

        var options = {
            height: 300,
            width: 1000,
            curveType: 'function',
            legend: { position: 'bottom' },
            lineWidth: 4,
            intervals: { 'style': 'line' },
            title: 'Cash',
            startup: true,
            animation: {
                duration: 1000,
                easing: 'in'
            },
            hAxis: {
                title: 'Week',
            },
            vAxis: {
                title: 'Cash'
            }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        $("#next-week-btn").click(function () {
            var shops = $(".shop-item");

            $.ajax({
                url: '@Url.RouteUrl("SkipWeek")',
                type: "POST",
                data: { ownerId: localStorage.getItem("userId") },
                async: false,
                success: function () {
                    new GetFinance('@Url.RouteUrl("GetOwnersFinance")').Start();
                    GetShops();
                }
            });

            data.removeRows(0, data.getNumberOfRows());
            updateDataTable(data);
            chart.draw(data, options);

        })


        chart.draw(data, options);
    };

    function updateDataTable(data) {
        $.ajax({
            url: '@Url.RouteUrl("GetWeeks")',
            type: "POST",
            data: { ownerId: localStorage.getItem("userId") },
            async: false,
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    var weekLabel;
                    if (result[i].Number == 0)
                        weekLabel = '0';
                    else weekLabel = result[i].Number.toString();

                    data.addRows([[weekLabel, result[i].OnlineCash, result[i].OfflineCash]]);
                }
            },
            dataType: "json"
        });


    }

    function GetShops() {
        var userId = localStorage.getItem("userId");
        $.ajax({
            type: "POST",
            url: '@Url.RouteUrl("GetShopsByUserId")',
            data: { id: userId },
            success: function (result) {
                $(".list-shops-js").html(result);
            }
        });
    }

    $(function () {
        GetShops();
    })
    </script>
}
