﻿@model ShopSimulator.Web.Models.ViewModels.ShopInfoViewModel

<div class="shop-info">
    <span class="erp">
        @switch (Model.Erp)
        {
            case ErpConstants.SapEcc:
                <img class="vc_single_image-img " src="https://www.sana-commerce.com/wp-content/uploads/2015/01/200x200xSAP-200x200.png.pagespeed.ic.FJekba53TR.webp" width="100" height="100" alt="e-commerce for SAP ECC" title="e-commerce for SAP ECC" data-pagespeed-url-hash="1002983883">
                break;
            case ErpConstants.Nav:
                <img class="vc_single_image-img " src="https://www.sana-commerce.com/wp-content/uploads/2015/10/200x200xMicrosoft-DynamicsNAV-circle1.png.pagespeed.ic.clpSUIK8BE.webp" width="100" height="100" alt="Microsoft-Dynamics NAV" title="Microsoft-Dynamics NAV-circle" data-pagespeed-url-hash="489917184">
                break;
            case ErpConstants.Ax:
                <img class="vc_single_image-img " src="https://www.sana-commerce.com/wp-content/uploads/2015/10/200x200xMicrosoft-DynamicsAX-circle.png.pagespeed.ic.c5CokVYQPj.webp" width="100" height="100" alt="Microsoft-Dynamics AX" title="Microsoft-Dynamics AX-circle" data-pagespeed-url-hash="3650716447">
                break;
            case ErpConstants.SapBusinessOne:
                <img class="vc_single_image-img " src="https://www.sana-commerce.com/wp-content/uploads/2015/01/200x200xSAP_business-one-200x200.png.pagespeed.ic.zA__EkaCtK.webp" width="100" height="100" alt="e-commerce for SAP Business One" title="e-commerce for SAP Business One" data-pagespeed-url-hash="112734561">
                break;
            case ErpConstants.CustomErp:
                <img class="vc_single_image-img " src="https://www.sana-commerce.com/wp-content/uploads/2015/01/200x200xAny-ERP-200x200.png.pagespeed.ic.4b9TtgzkHg.webp" width="100" height="100" alt="Sana for any ERP" title="e-commerce for Any ERP" data-pagespeed-url-hash="539641403">
                break;
        }
    </span>
    <div class="feature-block">
        <span> Detailed progress:</span>
        <ul>
            <li class="feature-progress">
                <span class="feature-name">
                    Main part -
                </span>
                @if (Model.MainPartTimeleft == 0)
                {
                    <span>finished!</span>
                }
                else
                        if (Model.MainPartTimeleft == 1)
                {
                    <span>1 day left</span>
                }
                else
                {
                    @Model.MainPartTimeleft<span>days left</span>
                }
                <div class="myProgress">
                    <div class="myBar" data-timeleft="@Model.MainPartTimeleft" data-totaltime="@Model.MainPartTotalTime"></div>
                </div>
            </li>
            @foreach (var feature in Model.Features)
            {
                <li class="feature-progress">
                    <span class="feature-name">
                        @feature.Name -
                    </span>
                    @if (feature.TimeDaysLeft == 0)
                    {
                        <span>finished!</span>
                    }
                    else
                        if (feature.TimeDaysLeft == 1)
                    {
                        <span>1 day left</span>
                    }
                    else
                    {
                        @feature.TimeDaysLeft <span>days left</span>
                    }
                    <div class="myProgress">
                        <div class="myBar" data-timeleft="@feature.TimeDaysLeft" data-totaltime="@feature.TotalTimeDays"></div>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="buff"></div>
</div>

