﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@RenderSection("title", required: false)</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/font-awesome.css")
    @Styles.Render("~/Content/layout.css")
    @Scripts.Render("~/bundles/modernizr")   
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header fixed-brand">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
            </button>
            <a class="navbar-brand logo" href="@Url.RouteUrl("MainPage")"><i class="fa fa-shopping-cart fa-4"></i> B2B Shop Simulator</a>            
        </div><!-- navbar-header-->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button></li>
            </ul>
        </div>
        
        <div id="money">
            <table>
                <tr>
                    <td>
                        <i class="fa fa-money fa-2x"></i>
                    </td>
                    <td>
                       <span class="finance-label"> Cash: </span>
                    </td>
                    <td class="finance cash"></td>
                </tr>
            </table>
                     
            <div class="total-box">
                <table>                    
                    <tr>
                        <td></td>
                        <td > <span class="finance-label">Previous week</span></td>
                        <td><span class="finance-label">Total</span></td>
                    </tr>
                    <tr>
                        <td>
                            <span class="finance-label">Income</span>
                        </td>
                        <td class="finance income"></td>
                        <td class="finance total-income"></td>
                        
                    </tr>

                    <tr>
                        <td>
                            <span class="finance-label"> Cost </span>
                        </td>
                        <td class="finance cost"></td>
                        <td class="finance total-cost"></td>
                        
                    </tr>

                    <tr>
                        <td>
                            <i class="fa fa-line-chart fa-2x"></i>
                        </td>
                        <td>
                            <span class="finance-label"> Profit: </span>
                        </td>
                        <td class="finance profit"></td>
                    </tr>
                </table>
            </div>
        </div>
        
        <!-- bs-example-navbar-collapse-1 -->        
    </nav>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

                <li>
                    <a id="add-shop" href="@Url.RouteUrl("AddShop")"><span class="fa-stack fa-lg pull-left add-icon"><i class="fa fa-plus-square fa-stack-1x "></i></span><span class="add-shop">Add shop</span></a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("MainPage")"><span class="fa-stack fa-lg pull-left"><i class="fa fa-desktop fa-stack-1x "></i></span>Home page</a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("EditFeatures")"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cog fa-stack-1x "></i></span>Back-office</a>
                </li>
                @*<li>
                    <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-list fa-stack-1x "></i></span>Shops</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-line-chart fa-stack-1x "></i></span>Charts</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x "></i></span>Contact</a>
                </li>*@
            </ul>
        </div><!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid xyz">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="body-content">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")     
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/GetFinance.js")

    <script>
        $('#money').load(function () {
        });
            
    </script>

    @Scripts.Render("~/Scripts/activePage.js")
    @Scripts.Render("~/Scripts/userIdentification.js")
    @Scripts.Render("~/Scripts/sidebar_menu.js")
    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            $("#add-shop").click(function (event) {
                event.preventDefault();

                var addShopUrl = $(event.currentTarget).attr('href');

                window.location.href = addShopUrl + '?ownerId=' + localStorage.getItem('userId');
            });

            new GetFinance('@Url.RouteUrl("GetOwnersFinance")').Start();
            new AddOwner('@Url.RouteUrl("AddNewOwner")').Start();
        })</script>   
</body>
</html>
