﻿
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-nav > li > a {
    line-height: initial;
}

.active-page{
    background-color: #02BB93 !important;
    color: #fff !important;
    font-size: 13pt;
}

.logo-caption{
    font-family: 'Open Sans',sans-serif;
	color: #444;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 25pt;
	letter-spacing: -2px;
	font-weight: bold;
    margin-right: 30px;
    vertical-align: middle;
}

.logo-caption>i {
    vertical-align: middle;
}

.summary-info{
    position:fixed;
    right:60px;
    top:60px;
    margin:20px 0px 20px 30px;
}

@media screen and (max-width: 1199px) {
    .summary-info{
        position:relative;
        float:left;
        top:0;
        right: 0;
        margin:30px 0px 20px 200px;
    }
}

.summary-info .attr{
    font-size: 1.5em;
    font-style: italic;
    font-weight: 600;
}

.summary-info .value{
    font-size:15pt;
    font-style: italic;
    font-weight:300;
}

.sana-btn{
    width: 180px;
}

.sana-btn:hover{
    color: #c10c06;
    border-color: #c10c06 !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 10px rgba(248, 36, 29, 0.5) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 10px rgba(248, 36, 29, 0.5) !important;
}

.update-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.list-shops {
  margin: 0 auto 20px;
  width: 763px;
  padding: 10px;
  background: #e6e6e6;
}

.list-shops>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-shops h3 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
    margin: 5px;
    text-align: center;
}

.shop-item img {
    float: left;
    margin: 10px;
    width: 65px;
}

.shop-item p {
  font: 200 12px/1.5 Georgia, 'Open Sans', serif;
}

.shop-item {
    margin: auto;
    padding: 10px;
    height: 125px;
    vertical-align: middle;
    margin-bottom: 5px;
    background: #ffffff;
    display: block;
    position: relative;
}

.shop-item:hover {
  background: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

.shop-item:last-child{
    margin-bottom: 0;
}

.shop-item h3{
    margin-right:150px;
}

.last-income, .last-cost{
    width: 150px;
    margin: 10px 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13pt;
}

.previous-week{
    float: right;
}

.shop-settings {
    margin-left: 30px;
}

.navbar-default a.navbar-brand.logo {
    font-family: 'Open Sans', sans-serif;
    color: #c10c06;
    font-size: 16pt;
}

/*Radio, chekbox*/
/*****************************************************************************/
h1.settings-title { font-size: 1.5em; font-style: italic }

.shop-settings label {
    cursor: pointer;
}

input[type=radio].with-font,
input[type=checkbox].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
    
input[type=radio].with-font ~ label:before,
input[type=checkbox].with-font ~ label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f1db";
    letter-spacing: 10px;
    font-size: 1.2em;
    color: #c10c06;
    width: 1.4em;
}

input[type=radio].with-font:checked ~ label:before,
input[type=checkbox].with-font:checked ~ label:before  {
    content: "\f111";
    font-size: 1.2em;
    color: #c10c06;
    letter-spacing: 5px;
}
input[type=checkbox].with-font ~ label:before {        
    content: "\f096";
}
input[type=checkbox].with-font:checked ~ label:before {
    content: "\f046";        
    color: #c10c06;
}
input[type=radio].with-font:hover ~ label:before,
input[type=checkbox].with-font:hover ~ label:before,
input[type=radio].with-font:hover ~ label,
input[type=checkbox].with-font:hover ~ label
{                
    color: #c10c06;
}

/*****************************************************************************/

div.previous-week > table td:first-child{
    text-align: left;
}

#next-week-btn{
    width: 140px;
    background-color: #c10c06;
    font-family:'Open Sans', sans-serif;
    font-size: 20px;
    margin: 20px auto;
    color: #fff;
    border: 2px #c10c06 solid;
    text-align:center;
}

#next-week-btn:hover{
    cursor: pointer;
    background-color:#fff;
    color: #c10c06;    
}

#next-week-btn i{
    vertical-align: middle;
}

.not-important{
    display: inline-block;
    margin-bottom: 5px;
    font-weight:300;
}

.bottom-not-important{
    display: inline-block;
    font-weight:300;
    margin-left: 20px;
    margin-bottom: 10px;
}

.settings-item{
    margin-left: 20px;
}

.setting-value{
    margin-left: 30px;
}

.setting-value label{
    margin-bottom: 0px;
}

#money {
    display: block;
    position: absolute;
    top: 18px;
    right: 40px;
    float: right;
}

#money>i{
    margin-right: 10px;
    vertical-align: middle;
}

.finance {
    font-family: 'Open Sans', sans-serif;
    color: #c10c06;
    font-size: 14pt;
    margin-right: 20px;
    vertical-align: middle;
    text-align: right;
}

#chart_div{
    width: 1000px;
    margin: 0 auto;
}
.red-input:focus{
    border-color: #c10c06 !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 10px rgba(248, 36, 29, 0.5) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 10px rgba(248, 36, 29, 0.5) !important;
}

/*.list-shops h3{
    text-align:center;
}*/

.list-shops h3+div {
    border: 1px solid transparent;
    text-align: center;
}

.shop-info {
    display: none;
    margin-top: -5px;
    vertical-align: middle;  
    border: 3px solid #fff;
    border-top-color: gray;
    border-top-width: 2px;   
    padding: 10px;
    background: #fff;
    z-index: 100;
    width: 743px;
    font-size: 12px;
}

.shop-info:not(:last-child) {
    margin-bottom: 10px;    
}

.shop-info .feature-block {
    float: right;
    font-size: 14px;
}

.feature-block > span {
    font-size:16px;
    font-weight: 600;   
    font-style: italic;
}

.shop-info .feature-progress {
    margin: 5px 5px 5px 0;
}

.myProgress {
    float: right;
    display: inline-block;
    position: relative;
    width: 200px;
    height: 20px;
    background-color: #fff;
    border: 2px #c10c06 solid;
    margin-left: 10px;
    text-align: center;
}

.myBar {
    position: absolute;
    height: 100%;
    background-color: #c10c06;
    text-align: center;
    line-height: 20px;
    color: white;
}

.feature-name {
    font-weight: 600;
}

.buff {
    clear: both;
}

.total-box{
    display: block;
}

.total-box:before{
    content: '';
    position: absolute;
    left: -71px;
    bottom: 18px;
    border: 51px solid transparent;
    border-right: 20px solid #d93131;
}

#money > div > table{
    width: 300px;
}

#money{
    cursor: pointer;
    vertical-align: middle;
}

#money .cash-title i, #money .cash-title span{
    vertical-align: middle;
}


.total-box, .total-box-shopinfo {
    margin-top: 4px;
    position: absolute;
    right: -355px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.11);
    padding: 7px;
    -webkit-transition: right 1s;
     -moz-transition: right 1s;
     -o-transition: right 1s;
     transition: right 1s;
}

.total-box-shopinfo{
    right: 30px;
    top: 8px;
    box-shadow: initial;
    background: initial;
}

#money:hover .total-box,
.total-box:hover{
    right: -40px;    
}

#money > div > table > tbody > tr:nth-last-child(-n+2) > td{
    border-bottom: 3px solid #d93131;
}

#money > div > table > tbody > tr:last-child > td{
    border-bottom: 3px solid #d93131;
}

span.finance-label{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #c10c06;
    font-size: 12pt;
    vertical-align: middle;
}

#money > div > table > tbody > tr > td:nth-child(2){
    padding-right: 30px;
}

.edit-features{

}
    .edit-features input{
        margin: 5px;
        padding: 2px 5px;
    }

    .edit-features input.feature-name{
        max-width: 350px;
        width: 320px;
        font-weight: 100;
        word-wrap: break-word;
    }

    .edit-features input.right-float-text{
        text-align:right ;
    }

    .edit-features input.w140{
        width: 140px ;
    }

    .edit-features table>thead th{
        font-weight: 400;
    }

    .edit-features table>caption{
        font-family: 'Open Sans',sans-serif;
        font-size: 15pt;
        font-weight:bold;
    }

    .edit-features table td{
        text-align: center;
    }
 
.invalid-input{
    border-color: #c10c06 !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 10px rgba(248, 36, 29, 0.5) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 10px rgba(248, 36, 29, 0.5) !important;
}

tr.center-caption th{
    text-align: center;
}

.building-container{
    float:left;
    width: 100px;
    height: 100px;
}
    .building-container span:first-child{
        font-size: 12pt;
    }


.total-box-shopinfo .fin {
    font-size: 12pt;
}