﻿@model ShopSimulator.Web.Models.ViewModels.FeaturesEditViewModel

@{
    ViewBag.Title = "EditFeatures";
}

<h2>Edit Features</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class=" container settings-item">
            <div class="setting-value edit-features">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <caption>Sizes</caption>
                        <thead>
                            <tr class="center-caption">
                                <th>Name</th>
                                <th>Price</th>
                                <th>Time</th>
                                <th>Goods</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Sizes.Count; i++)
                            {
                                <tr>
                                    @Html.HiddenFor(m => m.Sizes[i].Id)

                                    <td>@Html.EditorFor(m => m.Sizes[i].Name, new { htmlAttributes = new { @class = "feature-name" } })</td>
                                    <td>@Html.EditorFor(m => m.Sizes[i].Price, new { htmlAttributes = new { @class = " right-float-text" } })</td>
                                    <td>@Html.EditorFor(m => m.Sizes[i].Time, new { htmlAttributes = new { @class = " right-float-text" } })</td>
                                    <td>@Html.EditorFor(m => m.Sizes[i].Goods, new { htmlAttributes = new { @class = " right-float-text" } })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                
                <hr />
                <div class="table-responsive">
                    <table class="table table-hover">
                        <caption>ERP</caption>
                        <thead>
                            <tr class="center-caption">
                                <th>Name</th>
                                <th>Price</th>
                                <th>Time</th>
                                <th>Mark up</th>
                                <th>Goods coef.</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.ErpList.Count; i++)
                            {
                                <tr>
                                    @Html.HiddenFor(m => m.ErpList[i].Id)
                                    @Html.HiddenFor(m => m.ErpList[i].Type)

                                    <td>@Html.EditorFor(m => m.ErpList[i].Name, new { htmlAttributes = new { @class = "feature-name" } })</td>
                                    <td>@Html.EditorFor(m => m.ErpList[i].Price, new { htmlAttributes = new { @class = " right-float-text w140" } })</td>
                                    <td>@Html.EditorFor(m => m.ErpList[i].Time, new { htmlAttributes = new { @class = " right-float-text w140" } })</td>
                                    <td>@Html.EditorFor(m => m.ErpList[i].MarkUp, new { htmlAttributes = new { @class = " right-float-text w140" } })</td>
                                    <td>@Html.EditorFor(m => m.ErpList[i].GoodsCoefficient, new { htmlAttributes = new { @class = " right-float-text w140" } })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <hr />
                <div class="table-responsive">
                    <table class="table table-hover">
                        <caption>Addons</caption>
                        <thead>
                            <tr class="center-caption">
                                <th>Name</th>
                                <th>Price</th>
                                <th>Time</th>
                                <th>Mark up</th>
                                <th>Goods coef.</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Addons.Count; i++)
                            {
                                <tr>
                                    @Html.HiddenFor(m => m.Addons[i].Id)
                                    @Html.HiddenFor(m => m.Addons[i].Type)

                                    <td>@Html.EditorFor(m => m.Addons[i].Name, new { htmlAttributes = new { @class = "feature-name" } })</td>
                                    <td>@Html.EditorFor(m => m.Addons[i].Price, new { htmlAttributes = new { @class = " right-float-text w140" } })</td>
                                    <td>@Html.EditorFor(m => m.Addons[i].Time, new { htmlAttributes = new { @class = " right-float-text w140" } })</td>
                                    <td>@Html.EditorFor(m => m.Addons[i].MarkUp, new { htmlAttributes = new { @class = " right-float-text w140" } })</td>
                                    <td>@Html.EditorFor(m => m.Addons[i].GoodsCoefficient, new { htmlAttributes = new { @class = " right-float-text w140" } })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                
                <hr />
                <div class="table-responsive">
                    <caption>Extensions</caption>
                    <table class="table table-hover">
                        <thead>
                            <tr class="center-caption">
                                <th>Name</th>
                                <th>Price</th>
                                <th>Time</th>
                                <th>Mark up</th>
                                <th>Goods coef.</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Extensions.Count; i++)
                            {
                                <tr>
                                    @Html.HiddenFor(m => m.Extensions[i].Id)
                                    @Html.HiddenFor(m => m.Extensions[i].Type)

                                    <td>@Html.EditorFor(m => m.Extensions[i].Name, new { htmlAttributes = new { @class = "feature-name" } })</td>
                                    <td>@Html.EditorFor(m => m.Extensions[i].Price, new { htmlAttributes = new { @class = " right-float-text w140" } })</td>
                                    <td>@Html.EditorFor(m => m.Extensions[i].Time, new { htmlAttributes = new { @class = " right-float-text w140" } })</td>
                                    <td>@Html.EditorFor(m => m.Extensions[i].MarkUp, new { htmlAttributes = new { @class = " right-float-text w140" } })</td>
                                    <td>@Html.EditorFor(m => m.Extensions[i].GoodsCoefficient, new { htmlAttributes = new { @class = " right-float-text w140" } })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                
                <hr />
            </div>
            <div class="row center">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Update" class="btn btn-lg btn-default sana-btn update-btn" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
